@model List<Alumno>
@{
    ViewBag.Title = "Estudaintes";
}

<h2>Listado de estudiantes</h2>


<div class="col-md-10">
    <p>
        <a asp-action="CrearEstudiante">Nuevo estudiante</a>
    </p>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombres
            </th>
            <th>
                Apellidos
            </th>
            <th>
                Edad
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombres)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellidos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Edad)
                </td>
                <td>
                    <a asp-action="Editar" asp-route-id="@item.IdAlumno">Editar</a> |
                    <a asp-action="Eliminar" asp-route-id="@item.IdAlumno">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
